* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* border: 5px solid #0080ff; */
    background-color: #131313;
    overflow-x: hidden;

}

#app {
    /* border: 5px solid #00ff00; */
    width: 85%;
    margin: 0 auto;

    overflow-x: hidden;
    height: auto;
}


/* Containers */

.container_basic {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
    margin: 0 auto;
    padding: 20px 80px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    z-index: 1;

    color: #fff;
    background-color: #202020;
    font-family: "Montserrat", sans-serif;

    border-radius: 3px;
}



/* Tamaños para Containers */

.tamaño_xs {
    width: 30%;
    min-width: 500px;
}

.tamaño_s {
    width: 40%;
    min-width: 550px;
}

.tamaño_m {
    width: 55%;
    min-width: 700px;
}

.tamaño_l {
    width: 60%;
    min-width: 750px;
}


@media screen and (max-width:1000px) {
    #app {
        width: 100%;
    }

    .tamaño_xs {
        min-width: 400px;
    }

    .tamaño_s {
        width: 60%;
        min-width: 400px;
    }

    .tamaño_m {
        width: 73%;
        min-width: 400px;
    }
    .tamaño_l {
        width: 95%;
        min-width: 400px;
    }

    .container_basic{
        padding: 20px 35px;
    }
}


/* Titilo Encabezado de Container basic */

.container_basic h1 {
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

/* Estilos De Botones */

.btn_basic {
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(145, 145, 145, 0.1) 100%);
    color: white;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 9px 3px rgba(255, 255, 255, 0.1);
}

.btn_basic:hover {
    color: #ffffff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgba(255, 255, 255, 0.2);
}

.btn_basic:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 60%, transparent 100%);
}

.btn_basic:hover:before {
    transform: translateX(15em);
}

/* Estilo Imputs */

.input_box {
    position: relative;
    align-content: center;
}

.input_box input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #202020;
    border-radius: 1px;
    outline: none;
    color: white;
    font-size: 1em;
}

.input_box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.4s;
}

.input_box input:valid~span,
.input_box input:focus~span {
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #202020;
    border-left: 1px solid white;
    border-right: 1px solid white;
    letter-spacing: 0.2em;
}

.input_box input:valid,
.input_box input:focus {
    border: 1px solid white;
}

/* Margenes Blancos  */

.borde_doble {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    position: relative;
    padding: 15px;
    transition: all .15s ease;
    max-width: 100%;

}

.borde_doble::before,
.borde_doble::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: calc(40%);
    border: 1px solid #ffffff;
    transition: all .15s ease;
    pointer-events: none;
}

.borde_doble::before {
    top: 0;
    border-bottom-width: 0;
}

.borde_doble::after {
    bottom: 0;
    border-top-width: 0;
}

.elemento_flotante {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px 10px;
}

.alert {
    font-weight: bold;
    text-align: center;
}