/* @import './base.css'; */

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

.seat-container {
    display: flex;
    flex-direction: column;
}

.seat-row {
    display: flex;
    justify-content: center;
}

.seat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.seat-selected {
    background-color: #99ccff;
}

.seat-unavailable {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.button-container{
    text-align: center;
    padding: 50px;
}


@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}