* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: 5px solid #0080ff; */
    /* background-color: #131313; */
    background-color: #131313;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;

}

#app {
    /* border: 5px solid #00ff00; */
    margin: 0 auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* Containers */

.container_basic {
    margin: 0 auto;
    padding: 20px 80px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    z-index: 1;

    color: #fff;
    background-color: #202020;
    font-family: "Montserrat", sans-serif;

    border-radius: 3px;
    text-align: center;
}

.container_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-bottom: 15px;
}

.container_btns {
    display: flex;
    justify-content: center;
}

/* Tamaños para Containers */

.tamaño_xs {
    width: 30%;
    min-width: 550px;
    margin: 50px auto;
}

.tamaño_s {
    width: 40%;
    min-width: 550px;
    margin: 50px auto;
}

.tamaño_m {
    width: 55%;
    min-width: 700px;
    margin: 50px auto;
}

.tamaño_l {
    width: 60%;
    min-width: 750px;
    margin: 50px auto;
}

.tamaño_xl {
    width: 85%;
    min-width: 850px;
    max-width: 980px;
    margin: 50px auto;
}

/* Estilos De Botones */

.btn_basic {
    font-size: 16px;
    padding: 0.7em 5%;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(145, 145, 145, 0.1) 100%);
    color: white;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 9px 3px rgba(255, 255, 255, 0.1);
    outline: none;
}

.btn_basic:hover,
.btn_basic:focus {
    color: #ffffff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 5px rgba(255, 255, 255, 0.2);
}

.btn_basic:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 60%, transparent 100%);
}

.btn_basic:hover:before,
.btn_basic:focus:before {
    transform: translateX(15em);
}


/* Estilo Imputs */

.input_box {
    position: relative;
    align-content: center;
}

.input_box input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #202020;
    border-radius: 1px;
    outline: none;
    color: white;
    font-size: 1em;
}

.input_box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.4s;
}

.input_box input:valid~span,
.input_box input:focus~span {
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #202020;
    border-left: 1px solid white;
    border-right: 1px solid white;
    letter-spacing: 0.2em;
}

.input_box input:valid,
.input_box input:focus {
    border: 1px solid white;
}

/* Margenes Blancos  */

.borde_doble {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    position: relative;
    padding: 15px;
    transition: all .15s ease;
}

.borde_doble::before,
.borde_doble::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: calc(40%);
    border: 1px solid #ffffff;
    transition: all .15s ease;
    pointer-events: none;
}

.borde_doble::before {
    top: 0;
    border-bottom-width: 0;
}

.borde_doble::after {
    bottom: 0;
    border-top-width: 0;
}


.elemento_flotante {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px 10px;
}

.alert {
    font-weight: bold;
    text-align: center;
    margin: 0;
    overflow: auto;
}

/* Iconos */

.container_icon {

    font-size: 20px;
    padding: 13px 17px;
}

.icon_red {
    color: rgb(141, 2, 2);
}

.icon_green {
    color: rgb(2, 141, 32);
}

/* Elemento Resaltable */

.resaltable:hover {
    background-color: rgba(170, 170, 170, 0.534);
    border-radius: 20px;
    cursor: pointer;
}

/* Texto Estilo cartel de Neon */

.neon-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.neon-text {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    user-select: none;
    text-shadow: 0px 0px 15px rgba(254, 254, 254, 0.6),
        0px 0px 35px rgba(254, 254, 254, 0.2);
    transition: 0.3s linear;
    animation: shadow-animation 4s ease infinite;
    -webkit-text-stroke: 2px white;
}

.neon-text:hover {
    text-shadow: 0px 0px 15px rgba(254, 254, 254, 0.7),
        0px 0px 35px rgba(254, 254, 254, 0.5);
}


@media screen and (max-width:1000px) {

    .tamaño_xs {
        width: 75%;
        min-width: 315px;
        max-width: 500px;
        margin: 30px auto;
    }

    .tamaño_s {
        width: 60%;
        min-width: 315px;
        max-width: 500px;
        margin: 30px auto;
    }

    .tamaño_m {
        width: 73%;
        min-width: 315px;
        max-width: 650px;
        margin: 30px auto;
    }

    .tamaño_l {
        width: 95%;
        min-width: 315px;
        max-width: 700px;
        margin: 30px auto;
    }

    .tamaño_xl {
        width: 95%;
        min-width: 315px;
        max-width: 700px;
        margin: 30px auto;
    }

    .container_basic {
        padding: 20px 25px;
    }
}

@media screen and (max-width:800px) {
    .input_box input {
        font-size: 1.3em;
        height: 60px;
    }

    .input_box span {
        font-size: 1.1em;
        top: 6px;
    }

    .input_box input:valid~span,
    .input_box input:focus~span {
        color: white;
        transform: translateX(10px) translateY(-16px);
        font-size: 0.65em;
        padding: 0 10px;
        background: #202020;
        border-left: 1px solid white;
        border-right: 1px solid white;
        letter-spacing: 0.2em;
    }

    .btn_basic {
        font-size: 16px;
    }
}

@media (max-width: 450px) {

    @keyframes shadow-animation {
        0% {
            text-shadow: 0px 0px 15px rgba(254, 254, 254, 0.4);
        }

        50% {
            text-shadow: 0px 0px 15px rgba(254, 254, 254, 0.7),
                0px 0px 35px rgba(254, 254, 254, 0.4);
        }

        100% {
            text-shadow: 0px 0px 15px rgba(254, 254, 254, 0.4);
        }
    }
}



:root {
    --swiper-navigation-size: 44px;

}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    padding: 30px;
    border-radius: 25px;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.258);

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 0.258);

}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
    display: none !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center;
}

.swiper-rtl .swiper-button-prev svg,
.swiper-rtl .swiper-button-next svg {
    transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}

.swiper-button-lock {
    display: none;
}

/* Navigation font start */
.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: swiper-icons;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: unset;
    line-height: 2;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
}

/* Navigation font end */